nav.main-nav {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    'brand burger'
    'links links';
  padding: 0.5rem;
  min-height: 2rem;
  background-color: transparent;
  align-items: center;
}

nav.main-nav .brand a {
  color: var(--graphite);
  text-decoration: none;
  font-size: 2.5rem;
  font-family: var(--Jersey15), sans-serif;
}

nav.main-nav .brand {
  grid-area: brand;
}

nav.main-nav .burger {
  grid-area: burger;
  text-align: right;
  cursor: pointer;
}

nav.main-nav .links-list {
  grid-area: links;
  display: none;
}

/*  is-active toggled by JS when button pressed to show the links hidden above */
.is-active {
  display: initial !important;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  color: var(--graphite);
  text-decoration: none;
}

nav ul li {
  font-size: 1.1rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

/*  hamburger styles and css anim */
.burger-button {
  background-color: transparent;
  border: none;
}

.line {
  fill: none;
  stroke: var(--graphite);
  stroke-width: 6;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1,
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.opened .line1,
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

@media (min-width: 768px) and (orientation: landscape) {
  nav.main-nav .links-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem;
  }
  nav.main-nav .burger {
    display: block;
    margin-left: auto;
  }
  nav.main-nav .links-list {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  nav.main-nav {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'brand links';
    background-color: transparent;
    align-items: center;
  }

  nav.main-nav .brand {
    grid-area: brand;
  }

  nav.main-nav .burger {
    display: none;
  }

  nav.main-nav .links-list {
    grid-area: links;
    display: initial !important;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    display: inline;
    border: none;
    padding-right: 15px;
  }

  nav ul li:first-of-type {
    border: none;
  }
}
