---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/home.css';
import LatestEpisode from '../components/LatestEpisode.astro';
import { getEntry, render } from 'astro:content';
const homeIntro = await getEntry('pages', 'home-intro');
const { Content } = homeIntro ? await render(homeIntro) : { Content: null };
const pageMeta = {
  title: 'Upstairs Downstairs Podcast | Home',
  description:
    homeIntro?.data.description ||
    'The upstairs downstairs podcast follows the trials and tribulations of father (Stuart) and daughter (Robyn) as they battle lifes challenges and the frequent first world problems they encounter whilst living and working together from home.',
  imageUrl: '/podcast-default-social.png',
};
---

<BaseLayout pageMeta={pageMeta}>
  <div class="content-padding">
    {Content && <Content />}
    <h2 class="latest-title">Latest Episode</h2>
    <section class="home">
      <LatestEpisode />
    </section>
  </div>
</BaseLayout>
