---
import BaseLayout from '../layouts/BaseLayout.astro';
import LatestEpisodes from '../components/LatestEpisodes.astro';
import LatestEpisodePlayer from '../components/LatestEpisodePlayer.astro';
import SubscribeLinks from '../components/SubscribeLinks.astro';

const pageMeta = {
  title: 'Hello Stu | Home',
  description:
    'Hello Stu is the personal website and blog of Stuart Mackenzie. Stuart works hard to improve and transform public services as a Senior Partner at TPXimpact. Outside of work he is a photographer, amatuer web developer, runner, parkrun enthsiast and excotic disco dancer! ',
  imageUrl: '/social_images/hellostu-social.jpg',
};
---

<BaseLayout pageMeta={pageMeta}>
  <section class="home">
    <div class="content-padding">
      <LatestEpisodePlayer />
      <SubscribeLinks />
    </div>
  </section>
  <!-- <LatestEpisodes /> -->
</BaseLayout>
