---
import '../styles/footer.css';
import { Icon } from 'astro-icon/components';
import footerLinks from '../content/footer-links.json';
---

<footer id="footer">
  <section class="footer content-padding">
    <p>
      All content shared under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >Creative Commons License CC-BY-CN-SA</a
      > by Stuart Mackenzie
    </p>
    {
      Array.isArray(footerLinks) &&
        footerLinks.map(link => (
          <a
            href={link.url}
            class="social-icon"
            rel="me"
            aria-label={link.aria}
          >
            <Icon name={link.icon} />
          </a>
        ))
    }
  </section>
</footer>
