---
import EpisodePreview from './EpisodePreview.astro';
import { getCollection } from 'astro:content';
const allEpisodes = await getCollection('episodes', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
allEpisodes.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const latestEpisodes = allEpisodes.slice(0, 4);
const gridTitle = 'Latest Episodes';
---

<section class="latest">
  <h2 class="content-padding">{gridTitle}</h2>
  <div class="grid content-padding">
    {
      latestEpisodes.map(episode => (
        <EpisodePreview
          url={'/episodes/' + episode.slug}
          data={episode.data}
          id={episode.id}
        />
      ))
    }
  </div>
  <p class="morelink content-padding">
    <a href="/episodes">[..More episodes]</a>
  </p>
</section>
