---
const { episodes, gridTitle } = Astro.props;
import TagPostPreview from './TagPostPreview.astro';
---

<section class="tag-post-list">
  <h2 class="content-padding">{gridTitle}</h2>
  <div class="content-padding">
    {
      episodes.map(episode => (
        <TagPostPreview url={'/episodes/' + episode.slug} data={episode.data} />
      ))
    }
  </div>
</section>
