---
import { Icon } from 'astro-icon/components';
// Subscribe links for the podcast
---

<section class="subscribe-links">
  <h2>Subscribe</h2>
  <ul class="subscribe-platforms">
    <li>
      <a
        href="https://podcasts.apple.com/podcast/upstairs-downstairs-podcast/idYOUR_APPLE_ID"
        target="_blank"
        rel="noopener"
      >
        <Icon name="apple" size="24" />
        Apple Podcasts
      </a>
    </li>
    <li>
      <a
        href="https://open.spotify.com/show/YOUR_SPOTIFY_ID"
        target="_blank"
        rel="noopener"
      >
        <Icon name="spotify" size="24" />
        Spotify
      </a>
    </li>
    <li>
      <a
        href="https://podcasts.google.com/feed/YOUR_FEED_URL"
        target="_blank"
        rel="noopener"
      >
        <Icon name="google" size="24" />
        Google Podcasts
      </a>
    </li>
    <li>
      <a
        href="https://music.amazon.com/podcasts/YOUR_AMAZON_ID"
        target="_blank"
        rel="noopener"
      >
        <Icon name="amazon" size="24" />
        Amazon Music
      </a>
    </li>
    <li>
      <a href="/rss.xml" target="_blank" rel="noopener">
        <Icon name="rss" size="24" />
        RSS Feed
      </a>
    </li>
  </ul>
</section>
